body {
    background-color: grey;
}

p {
    font-family: "Open Sans", "Arial", sans-serif;
}

.card_container {
    height: 80vh;
    width: 40vw;
    background-color: #FFFFFF;
    border-radius: 5%;
    border: 0.5rem solid #000000;
    filter: drop-shadow(0.75rem 0.75rem 0.5rem #373737);
}

.card_container > div, .card_container > form {
    margin-top: 20%;
}

.sv_main {
    font-size: 16px;
}

h3 {
    color: #4178d2;
}