body {
    background-color: grey;
}

p {
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 24px;
}

.card_container {
    height: 80vh;
    width: 40vw;
    background-color: #FFFFFF;
    border-radius: 5%;
    border: 0.5rem solid #000000;
    filter: drop-shadow(0.75rem 0.75rem 0.5rem #373737);
}

.card_container > div, .card_container > form {
    margin-top: 20%;
}

h3 {
    color: #4178d2;
}

#jspsych-content > div.sv_main.sv_default_css > form > div.sv_container > div.sv_header > div.sv_header__text > h3 {
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #000000;
    text-align: center;
    margin-top: -2.8%;
}

#jspsych-survey-text-preamble > h2 {
    margin-top: 20%;
    font-size: 24px;
    font-weight: 700;
}

#jspsych-survey-text-0 > p {
    margin-top: 15%;
    font-size: 16px;
}

.sv_body {
    color: #000000;
    margin-top: 10%;
    text-align: center;
}