body {
    background-color: #12bbc2;
}

p {
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 24px;
}

.list {
    text-align: left;
    margin-left: 10%;
    font-weight: 700;
}

.card_container {
    height: 60vh;
    width: 30vw;
    background-color: #FFFFFF;
    border-radius: 5%;
    border: 0.5rem solid #000000;
    filter: drop-shadow(0.75rem 0.75rem 0.5rem #373737);
    overflow: hidden;
}

.two_card_container {
    height: 80vh;
    width: 90vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card_container > div, .card_container > form {
    margin-top: 20%;
}

.card_container > img {
    margin-top: -15%;
    margin-left: -15%;
}

h3 {
    color: #1d478c;
    font-weight: 700;
    font-style: italic;
}

#jspsych-content > div.sv_main.sv_default_css > form > div.sv_container > div.sv_header > div.sv_header__text > h3 {
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 27px;
    font-weight: 700;
    color: #000000;
    text-align: center;
    font-style: normal;
    line-height: 0.2em;
}

.sv_main.sv_default_css .sv_custom_header {
    background-color: #12bbc2 !important;
}


.sv_main .sv_container .sv_header {
    margin-top: 5%;
}

#jspsych-content > div:nth-child(1) > h3 {
    margin-top: 9%;
    line-height: 0.1em;
}


.sv_main.sv_default_css {
    background-color: #12bbc2 !important;
}

.sv_main.sv_default_css .sv_body {
    background-color: #12bbc2 !important;
}

.sv_main.sv_default_css .sv_p_root > .sv_row:nth-child(2n+1) {
    background-color: #12bbc2 !important;
}

.sv_main.sv_default_css .sv_q_rating_item.active .sv_q_rating_item_text {
    background-color: rgb(29, 71, 140) !important;
    border-color: rgb(29, 71, 140) !important;
}

.sv_main.sv_default_css input[type="button"], .sv_default_css button {
    color: white !important;
    background-color: rgb(29, 71, 140) !important;
}

#jspsych-content-wrapper {
    background-color: #12bbc2 !important;
    color: #12bbc2 !important;
}

#jspsych-survey-text-preamble > h2 {
    font-size: 24px;
    font-weight: 700;
}

#jspsych-survey-text-0 > p {
    font-size: 16px;
}

.sv_body {
    color: #000000;
    text-align: center;
}

#jspsych-image-keyboard-response-stimulus {
    object-position: center;
    object-fit: contain;
}
.flip_card {
    background-color: transparent;
    height: 60vh;
    width: 30vw;
    perspective: 1000px;
}

.flip_card_inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip_card:hover .flip_card_inner {
    transform: rotateY(180deg);
}

.flip_card_front,
.flip_card_back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;

    border-radius: 5%;
    border: 0.5rem solid #000000;
    filter: drop-shadow(0.75rem 0.75rem 0.5rem #373737);
}

.flip_card_front {
    background-color: #bbb;
    color: black;
}

.flip_card_back {
    background-color: white;
    color: black;
    transform: rotateY(180deg);
}

.flip_card_front>img {
    width: 30vw;
    height: 60vh;
    border-radius: 5%;
}

.flip_card_back>h2 {
    margin-top: 40%;
    padding: 20px;
    line-height: 1.3;
}
